In [18]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


hp = pd.read_csv('price_paid_records.csv')
#Sample only 100,000 as data is large
hp_s = hp.sample(n=100000)
# Get first 5 rows
hp_s.head()

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
21415096,{47844C80-9B7E-8986-E050-A8C063056488},100000,2016-12-22 00:00,T,N,F,HOLMFIRTH,KIRKLEES,WEST YORKSHIRE,A,A
5547713,{211B8882-537F-4427-BEFC-1786E2860D5F},120000,2000-06-01 00:00,D,N,F,ST. IVES,HUNTINGDONSHIRE,CAMBRIDGESHIRE,A,A
20811106,{080BAB3B-F8AF-4F84-9850-8E61BF77C293},108500,2015-05-11 00:00,F,N,L,STRATFORD-UPON-AVON,STRATFORD-ON-AVON,WARWICKSHIRE,A,A
10108769,{EFF81002-6F4E-4EA4-B3FD-98B2300B201F},52000,2004-08-13 00:00,T,N,F,ABERDARE,RHONDDA CYNON TAFF,RHONDDA CYNON TAFF,A,A
9006161,{53BA26C8-A8DF-405D-80FF-9C36EC56B45A},176000,2003-07-24 00:00,F,N,L,PINNER,HILLINGDON,GREATER LONDON,A,A

In [19]:
# Check if there are any duplicate values

len(hp_s)

100000

In [20]:
len(hp_s.drop_duplicates())

100000

In [22]:
#Drop all nan values
hp_s.dropna

<bound method DataFrame.dropna of                    Transaction unique identifier   Price  Date of Transfer  \
21415096  {47844C80-9B7E-8986-E050-A8C063056488}  100000  2016-12-22 00:00
5547713   {211B8882-537F-4427-BEFC-1786E2860D5F}  120000  2000-06-01 00:00
20811106  {080BAB3B-F8AF-4F84-9850-8E61BF77C293}  108500  2015-05-11 00:00
10108769  {EFF81002-6F4E-4EA4-B3FD-98B2300B201F}   52000  2004-08-13 00:00
9006161   {53BA26C8-A8DF-405D-80FF-9C36EC56B45A}  176000  2003-07-24 00:00
...                                          ...     ...               ...
11601390  {5BBDDBC1-6BF4-464B-9B47-D5B5A9F2BDE3}  117500  2005-07-29 00:00
12812623  {A0414452-621A-4ABA-80AA-2F25C8BF2644}  160000  2006-10-17 00:00
8888467   {698426FB-7B1D-4A53-B146-6D7617AE21CB}  248000  2003-05-02 00:00
7221686   {C707F60A-1B24-4C48-977B-4F6F8B91698C}  151500  2001-03-30 00:00
5290106   {A94566B3-C84A-4191-ABB9-B31470FC89AE}   59500  2000-09-01 00:00

         Property Type Old/New Duration            Town/City  \
21415096             T       N        F            HOLMFIRTH
5547713              D       N        F             ST. IVES
20811106             F       N        L  STRATFORD-UPON-AVON
10108769             T       N        F             ABERDARE
9006161              F       N        L               PINNER
...                ...     ...      ...                  ...
11601390             S       N        F            DONCASTER
12812623             T       N        L           MANCHESTER
8888467              S       N        F             SOLIHULL
7221686              S       N        F                 IVER
5290106              T       N        F      BISHOP AUCKLAND

                    District              County PPDCategory Type  \
21415096            KIRKLEES      WEST YORKSHIRE                A
5547713      HUNTINGDONSHIRE      CAMBRIDGESHIRE                A
20811106   STRATFORD-ON-AVON        WARWICKSHIRE                A
10108769  RHONDDA CYNON TAFF  RHONDDA CYNON TAFF                A
9006161           HILLINGDON      GREATER LONDON                A
...                      ...                 ...              ...
11601390           DONCASTER     SOUTH YORKSHIRE                A
12812623          MANCHESTER  GREATER MANCHESTER                A
8888467             SOLIHULL       WEST MIDLANDS                A
7221686          SOUTH BUCKS     BUCKINGHAMSHIRE                A
5290106          WEAR VALLEY              DURHAM                A

         Record Status - monthly file only
21415096                                 A
5547713                                  A
20811106                                 A
10108769                                 A
9006161                                  A
...                                    ...
11601390                                 A
12812623                                 A
8888467                                  A
7221686                                  A
5290106                                  A

[100000 rows x 11 columns]>

In [ ]:
hp_s.drop('Transaction unique identifier', axis = 1, inplace=True)